In [1]:
import pickle
import pandas as pd
import numpy as np
# import tensorflow as tf
# from transformers import BertTokenizer, TFBertModel
# from sklearn.metrics.pairwise import cosine_similarity

### Methods to try for orphan adoption
1. Using BERT embedding to find most similar L1 and L2 topics
2. Using occurrences to determine parents
3. Using a model to predict the parent

In [3]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = TFBertModel.from_pretrained('bert-base-uncased')

Some layers from the model checkpoint at bert-base-uncased were not used when initializing TFBertModel: ['nsp___cls', 'mlm___cls']
- This IS expected if you are initializing TFBertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
All the layers of TFBertModel were initialized from the model checkpoint at bert-base-uncased.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertModel for predictions without further training.

In [3]:
with open("topics_vocab.pkl", "rb") as f:
    target_vocab = pickle.load(f)
    
len(target_vocab)

65026

In [4]:
model_tags_df = pd.DataFrame().from_dict(target_vocab, orient='index').reset_index()[['index']]
model_tags_df.columns = ['normalized_name']

In [5]:
model_tags_df.shape

(65026, 1)

In [6]:
model_tags_df.head(5)

          normalized_name
0                     art
1           earth science
2          social science
3  clustering coefficient
4           gratification

In [7]:
def fix_empty_list(child):
    try:
        child = child.tolist()
    except:
        child = []
    return child

In [8]:
def create_new_name(orig_name, children):
    if (len(children) > 0) & (len(children) < 25):
        children_string = ', '.join(children)
        new_name = f"{orig_name} and also {children_string}"
    else:
        new_name = f"{orig_name}"
    return new_name

In [9]:
tags_df = pd.read_parquet('fields_of_study_ids.parquet').dropna()
tags_df['level'] = tags_df['level'].astype('int')
orphan_df = pd.read_parquet('mag_imitator_orphans.parquet').merge(model_tags_df, how='inner', on='normalized_name')
# children = pd.read_parquet('children.parquet')
# orphan_df = orphan_df.merge(children, how='left', left_on = 'normalized_name', right_on='parent').copy()
# orphan_df['child'] = orphan_df['child'].apply(fix_empty_list)
# orphan_df['new_name'] = orphan_df.apply(lambda x: create_new_name(x.normalized_name, 
#                                                                   x.child), axis=1)

In [10]:
orphan_df.shape

(1664, 3)

In [11]:
orphan_df[orphan_df['normalized_name']=='energy source']

   field_of_study_id normalized_name  level
6         2982719155   energy source      3

In [12]:
orphan_df.groupby('level').count()

       field_of_study_id  normalized_name
level
2                   1489             1489
3                    175              175

In [13]:
orphan_df['level'].value_counts()

2    1489
3     175
Name: level, dtype: int64

In [268]:
openalex_concepts = pd.read_csv("concepts_with_wiki.csv")[['normalized_name']]
openalex_concepts.head(5)

     normalized_name
0  political science
1         philosophy
2          economics
3           business
4         psychology

In [269]:
openalex_concepts.shape

(65073, 1)

In [16]:
orphan_df.merge(openalex_concepts, how='inner', on='normalized_name').shape

(1664, 3)

In [17]:
orphan_df.merge(openalex_concepts, how='inner', on='normalized_name')['level'].value_counts()

2    1489
3     175
Name: level, dtype: int64

In [18]:
orphan_and_wiki = orphan_df.merge(openalex_concepts, how='inner', on='normalized_name')

## Orphans

In [103]:

# last hidden state
# orphan_embs = []
# for i in level_2_orphans:
#     toks = tokenizer(i, return_tensors="tf")
#     emb = model(toks).last_hidden_state.numpy().mean(axis=-2)
#     orphan_embs.append(emb)
# orphan_embs = np.array(orphan_embs)[:,0,:]

# last 4 summed up
orphan_embs = []
for i in level_2_orphans:
    toks = tokenizer(i, return_tensors="tf")
    emb = tf.add_n(model(toks, output_hidden_states=True).hidden_states[-4:]).numpy().mean(axis=-2)
    orphan_embs.append(emb)
orphan_embs = np.array(orphan_embs)[:,0,:]

# embedding layer

## Level 1

In [104]:
# last hidden state
# level_1_embs = []
# for i in level_1_list:
#     toks = tokenizer(i, return_tensors="tf")
#     emb = model(toks).last_hidden_state.numpy().mean(axis=-2)
#     level_1_embs.append(emb)
# level_1_embs = np.array(level_1_embs)[:,0,:]

# last 4 summed up
level_1_embs = []
for i in level_1_list:
    toks = tokenizer(i, return_tensors="tf")
    emb = tf.add_n(model(toks, output_hidden_states=True).hidden_states[-4:]).numpy().mean(axis=-2)
    level_1_embs.append(emb)
level_1_embs = np.array(level_1_embs)[:,0,:]

# embedding layer

## Level 0

In [111]:
# last 4 summed up
level_0_embs = []
for i in level_0_list:
    toks = tokenizer(i, return_tensors="tf")
    emb = tf.add_n(model(toks, output_hidden_states=True).hidden_states[-4:]).numpy().mean(axis=-2)
    level_0_embs.append(emb)
level_0_embs = np.array(level_0_embs)[:,0,:]

# embedding layer

In [105]:
orphan_embs.shape

(50, 768)

In [106]:
level_1_embs.shape

(292, 768)

In [112]:
level_0_embs.shape

(19, 768)

In [113]:
for i in range(orphan_embs.shape[0]):
    print(f"{level_2_orphans[i]}")
    print("L0")
    sorted_tags = np.argsort(cosine_similarity(orphan_embs[i].reshape(1,-1), level_0_embs))[0,-5:][::-1]
    sorted_scores = np.sort(cosine_similarity(orphan_embs[i].reshape(1,-1), level_0_embs))[0,-5:][::-1]
    for j in range(3):
        print(f"_______ {level_0_list[sorted_tags[j]]}: {sorted_scores[j]}")
    
    print("L1")
    sorted_tags = np.argsort(cosine_similarity(orphan_embs[i].reshape(1,-1), level_1_embs))[0,-5:][::-1]
    sorted_scores = np.sort(cosine_similarity(orphan_embs[i].reshape(1,-1), level_1_embs))[0,-5:][::-1]
    for j in range(5):
        print(f"_______ {level_1_list[sorted_tags[j]]}: {sorted_scores[j]}")
    print("\n")

two temperature
L0
_______ philosophy: 0.7631981372833252
_______ psychology: 0.7529655694961548
_______ economics: 0.752226710319519
L1
_______ risk analysis: 0.8285120725631714
_______ financial system: 0.8279814720153809
_______ engineering ethics: 0.8186806440353394
_______ positive economics: 0.816841185092926
_______ demographic economics: 0.8166027069091797


business activities
L0
_______ business: 0.7770204544067383
_______ medicine: 0.7626142501831055
_______ art: 0.7533687353134155
L1
_______ economic system: 0.8523975610733032
_______ financial system: 0.8357780575752258
_______ industrial organization: 0.8275732398033142
_______ multimedia: 0.8180881142616272
_______ communication: 0.809441089630127


bioactive molecules
L0
_______ environmental science: 0.45146480202674866
_______ materials science: 0.4260980188846588
_______ medicine: 0.39979973435401917
L1
_______ gastroenterology: 0.7339313626289368
_______ endocrinology: 0.706972599029541
_______ chromatography: 0.6485665440559387
_______ obstetrics: 0.6466092467308044
_______ ophthalmology: 0.6412166357040405


analytical equations
L0
_______ philosophy: 0.7626963257789612
_______ environmental science: 0.751676619052887
_______ business: 0.7516456842422485
L1
_______ religious studies: 0.8181094527244568
_______ theology: 0.8050779700279236
_______ surgery: 0.7846864461898804
_______ advertising: 0.7813304662704468
_______ accounting: 0.7812060117721558


four quadrants
L0
_______ physics: 0.7379770874977112
_______ geography: 0.7318620085716248
_______ medicine: 0.729874312877655
L1
_______ nursing: 0.7683719992637634
_______ computer network: 0.7561433911323547
_______ surgery: 0.7521190047264099
_______ medical education: 0.7519351243972778
_______ arithmetic: 0.7505874633789062


anti oxidative and also dioscorea quinqueloba
L0
_______ environmental science: 0.6423661708831787
_______ psychology: 0.6367587447166443
_______ philosophy: 0.6000199317932129
L1
_______ risk analysis: 0.7522007822990417
_______ positive economics: 0.7330746650695801
_______ environmental ethics: 0.73065584897995
_______ demographic economics: 0.719659149646759
_______ environmental economics: 0.7159085869789124


education environment
L0
_______ medicine: 0.5165247917175293
_______ geography: 0.5148780345916748
_______ mathematics: 0.5142541527748108
L1
_______ statistics: 0.5506728887557983
_______ neuroscience: 0.5490135550498962
_______ surgery: 0.5417814254760742
_______ financial system: 0.540335476398468
_______ risk analysis: 0.5388508439064026


surface level
L0
_______ business: 0.7407464385032654
_______ biology: 0.7379721999168396
_______ environmental science: 0.7347722053527832
L1
_______ composite material: 0.7929809093475342
_______ positive economics: 0.7906439304351807
_______ advertising: 0.7823495864868164
_______ embedded system: 0.7796545028686523
_______ optics: 0.7785137891769409


color intensity
L0
_______ business: 0.7713615894317627
_______ psychology: 0.7472357749938965
_______ philosophy: 0.7368412613868713
L1
_______ communication: 0.8125101327896118
_______ positive economics: 0.8099628686904907
_______ control theory: 0.7960761189460754
_______ advertising: 0.7900198101997375
_______ data mining: 0.7886661291122437


national study
L0
_______ environmental science: 0.8111259341239929
_______ geology: 0.777207612991333
_______ geography: 0.774838387966156
L1
_______ biological system: 0.8185892701148987
_______ computer network: 0.8023748397827148
_______ environmental planning: 0.8006166219711304
_______ animal science: 0.7983102798461914
_______ composite material: 0.7857401371002197


change analysis
L0
_______ history: 0.609046995639801
_______ geography: 0.5190511345863342
_______ environmental science: 0.5079376101493835
L1
_______ information retrieval: 0.576899528503418
_______ operating system: 0.5723123550415039
_______ ancient history: 0.559506356716156
_______ environmental protection: 0.5576937794685364
_______ composite material: 0.5452391505241394


cold weather
L0
_______ geography: 0.7364130020141602
_______ art: 0.7120446562767029
_______ environmental science: 0.7012829780578613
L1
_______ economic system: 0.7843769788742065
_______ financial system: 0.7598381042480469
_______ embedded system: 0.7565929889678955
_______ composite material: 0.7526842951774597
_______ optics: 0.7519972920417786


lateral side and also medial side
L0
_______ environmental science: 0.7279770374298096
_______ materials science: 0.6923921704292297
_______ computer science: 0.6543945074081421
L1
_______ biochemical engineering: 0.8260148167610168
_______ nanotechnology: 0.8252388834953308
_______ virology: 0.7864565253257751
_______ biological system: 0.7863039970397949
_______ radiochemistry: 0.7793343663215637


spoke hub distribution paradigm
L0
_______ physics: 0.6658825278282166
_______ geography: 0.6627603769302368
_______ medicine: 0.6621084809303284
L1
_______ neuroscience: 0.6919747591018677
_______ remote sensing: 0.6912621259689331
_______ surgery: 0.6895322203636169
_______ anatomy: 0.6862630844116211
_______ advertising: 0.6838752627372742


moving vehicle
L0
_______ geography: 0.6875481605529785
_______ medicine: 0.6770355105400085
_______ environmental science: 0.6769247651100159
L1
_______ environmental planning: 0.7179715633392334
_______ economic growth: 0.7172889113426208
_______ computer hardware: 0.701324999332428
_______ composite material: 0.6991752982139587
_______ computer network: 0.6966282725334167


regulatory authority
L0
_______ business: 0.7618348598480225
_______ engineering: 0.7442188262939453
_______ environmental science: 0.7393190264701843
L1
_______ risk analysis: 0.7916890978813171
_______ regional science: 0.7875500321388245
_______ reliability engineering: 0.7838624715805054
_______ engineering ethics: 0.7825664281845093
_______ communication: 0.7816868424415588


animal disease
L0
_______ psychology: 0.6404913067817688
_______ philosophy: 0.6251748204231262
_______ business: 0.6250128746032715
L1
_______ process management: 0.7490795254707336
_______ risk analysis: 0.7478487491607666
_______ knowledge management: 0.7197079062461853
_______ programming language: 0.7129049897193909
_______ control theory: 0.7128218412399292


human morbidity
L0
_______ geology: 0.6320703029632568
_______ environmental science: 0.6268135905265808
_______ geography: 0.6157920360565186
L1
_______ remote sensing: 0.6647909283638
_______ meteorology: 0.6518335938453674
_______ market economy: 0.6415420770645142
_______ economic system: 0.6350899338722229
_______ atmospheric sciences: 0.6348407864570618


risk category
L0
_______ geography: 0.728091835975647
_______ medicine: 0.7097849249839783
_______ environmental science: 0.7081958055496216
L1
_______ economic growth: 0.8479396104812622
_______ economic system: 0.8188549280166626
_______ market economy: 0.7835213541984558
_______ economic geography: 0.781965434551239
_______ financial system: 0.7709770202636719


ice storage
L0
_______ medicine: 0.7391842603683472
_______ geography: 0.7152847647666931
_______ art: 0.7087171077728271
L1
_______ computer network: 0.7636095881462097
_______ programming language: 0.7622877359390259
_______ economic system: 0.7596362829208374
_______ economy: 0.7567431330680847
_______ market economy: 0.7438512444496155


economic interpretation
L0
_______ chemistry: 0.6721088290214539
_______ medicine: 0.6601405143737793
_______ environmental science: 0.6577132940292358
L1
_______ industrial organization: 0.7513722777366638
_______ medicinal chemistry: 0.7087971568107605
_______ polymer chemistry: 0.7086188793182373
_______ chemical physics: 0.7058102488517761
_______ financial system: 0.7049216032028198


plant based
L0
_______ business: 0.8112589716911316
_______ art: 0.7254278659820557
_______ medicine: 0.7181032299995422
L1
_______ financial system: 0.8240904211997986
_______ embedded system: 0.7884306311607361
_______ multimedia: 0.7836438417434692
_______ composite material: 0.7753946781158447
_______ industrial organization: 0.7701979875564575


female to male
L0
_______ environmental science: 0.7672685384750366
_______ geography: 0.7617088556289673
_______ business: 0.747368574142456
L1
_______ financial system: 0.8184060454368591
_______ economic policy: 0.8120843172073364
_______ environmental planning: 0.8080011606216431
_______ environmental health: 0.8013057708740234
_______ risk analysis: 0.7971742749214172


rescue work
L0
_______ business: 0.7405473589897156
_______ art: 0.7152444124221802
_______ medicine: 0.7120450735092163
L1
_______ risk analysis: 0.8024189472198486
_______ simulation: 0.7810187339782715
_______ nursing: 0.7784135937690735
_______ composite material: 0.7773232460021973
_______ financial system: 0.772497296333313


health index
L0
_______ environmental science: 0.5645961165428162
_______ materials science: 0.5602025389671326
_______ psychology: 0.5142487287521362
L1
_______ seismology: 0.6628507375717163
_______ andrology: 0.6564656496047974
_______ classical mechanics: 0.6516236066818237
_______ positive economics: 0.6397430896759033
_______ demographic economics: 0.6340593695640564


human patient
L0
_______ environmental science: 0.6433882117271423
_______ medicine: 0.6399390697479248
_______ geography: 0.6364705562591553
L1
_______ composite material: 0.7039954662322998
_______ fishery: 0.6899929642677307
_______ economy: 0.6803752183914185
_______ ceramic materials: 0.6792736649513245
_______ market economy: 0.6732059121131897


history of use
L0
_______ business: 0.7484697103500366
_______ biology: 0.7270395755767822
_______ medicine: 0.7205110788345337
L1
_______ genetics: 0.7899353504180908
_______ advertising: 0.7851160168647766
_______ nursing: 0.782882571220398
_______ communication: 0.7776674628257751
_______ anatomy: 0.7689594626426697


work productivity
L0
_______ biology: 0.6233554482460022
_______ chemistry: 0.6152426600456238
_______ environmental science: 0.5995749831199646
L1
_______ photochemistry: 0.7559514045715332
_______ stereochemistry: 0.7521767020225525
_______ radiochemistry: 0.7309042811393738
_______ metallurgy: 0.707704484462738
_______ medicinal chemistry: 0.7040014266967773


agricultural pest
L0
_______ business: 0.7305617332458496
_______ art: 0.7243289351463318
_______ physics: 0.7203246355056763
L1
_______ multimedia: 0.784848153591156
_______ composite material: 0.7681983113288879
_______ communication: 0.7623676657676697
_______ ceramic materials: 0.7612193822860718
_______ nursing: 0.7565990686416626


average return
L0
_______ medicine: 0.652543842792511
_______ biology: 0.6437429189682007
_______ environmental science: 0.6376402378082275
L1
_______ obstetrics: 0.7672120928764343
_______ gynecology: 0.7419739961624146
_______ emergency medicine: 0.7412246465682983
_______ internal medicine: 0.7390648126602173
_______ gerontology: 0.7341170907020569


flow chart
L0
_______ medicine: 0.6892289519309998
_______ business: 0.6832060217857361
_______ geography: 0.675773561000824
L1
_______ embedded system: 0.7954360246658325
_______ composite material: 0.7912105321884155
_______ multimedia: 0.7484060525894165
_______ ceramic materials: 0.7454111576080322
_______ data mining: 0.7405928373336792


period length
L0
_______ business: 0.7289544939994812
_______ medicine: 0.6982959508895874
_______ physics: 0.6914513111114502
L1
_______ composite material: 0.7642382979393005
_______ embedded system: 0.7523573040962219
_______ communication: 0.7459802031517029
_______ advertising: 0.7392419576644897
_______ nursing: 0.7375098466873169


in vitro diagnostic
L0
_______ environmental science: 0.7564386129379272
_______ geography: 0.7282130122184753
_______ economics: 0.7133879661560059
L1
_______ environmental economics: 0.8227634429931641
_______ development economics: 0.8050971031188965
_______ demographic economics: 0.7981814742088318
_______ international trade: 0.7927137017250061
_______ positive economics: 0.7925373911857605


organic content
L0
_______ biology: 0.6932708024978638
_______ geography: 0.6920779943466187
_______ business: 0.6893698573112488
L1
_______ arithmetic: 0.7650635242462158
_______ composite material: 0.7552767395973206
_______ data mining: 0.7435040473937988
_______ advertising: 0.740584135055542
_______ risk analysis: 0.7383522987365723


network on
L0
_______ biology: 0.728523313999176
_______ physics: 0.7190958261489868
_______ art: 0.7089108228683472
L1
_______ risk analysis: 0.7894570827484131
_______ composite material: 0.7794093489646912
_______ surgery: 0.7667301297187805
_______ simulation: 0.7628160119056702
_______ advertising: 0.7579954266548157


apparent size
L0
_______ geography: 0.6964807510375977
_______ medicine: 0.6685247421264648
_______ history: 0.6617293953895569
L1
_______ regional science: 0.7393050193786621
_______ embedded system: 0.7351071834564209
_______ economic system: 0.7336395382881165
_______ financial system: 0.7306954860687256
_______ multimedia: 0.7192343473434448


lag time
L0
_______ geography: 0.6516242623329163
_______ biology: 0.649461030960083
_______ environmental science: 0.6477843523025513
L1
_______ internet privacy: 0.7119024395942688
_______ advertising: 0.7057706117630005
_______ computer network: 0.704258143901825
_______ remote sensing: 0.7029455900192261
_______ embedded system: 0.6879377365112305


blood center
L0
_______ geography: 0.642095148563385
_______ biology: 0.634433925151825
_______ physics: 0.6313076019287109
L1
_______ neuroscience: 0.6810253858566284
_______ arithmetic: 0.6699444651603699
_______ psychiatry: 0.6643946170806885
_______ remote sensing: 0.6635767817497253
_______ genetics: 0.6598535180091858


tactile sensation
L0
_______ environmental science: 0.7030003070831299
_______ business: 0.6961442828178406
_______ physics: 0.6896294355392456
L1
_______ composite material: 0.7551814913749695
_______ embedded system: 0.753699004650116
_______ risk analysis: 0.7467246055603027
_______ advertising: 0.7283974885940552
_______ communication: 0.7266530394554138


physiological function
L0
_______ psychology: 0.6129043698310852
_______ environmental science: 0.5959311723709106
_______ philosophy: 0.5918716788291931
L1
_______ positive economics: 0.7153873443603516
_______ risk analysis: 0.7062733173370361
_______ economic system: 0.705315887928009
_______ demographic economics: 0.7040514349937439
_______ welfare economics: 0.6818115711212158


video tape and also video tape recording
L0
_______ art: 0.6387891173362732
_______ geography: 0.6302158236503601
_______ environmental science: 0.6077477931976318
L1
_______ aesthetics: 0.6679762005805969
_______ ceramic materials: 0.6587270498275757
_______ anatomy: 0.6541622877120972
_______ advertising: 0.6395795941352844
_______ internet privacy: 0.6394067406654358


elimination method
L0
_______ business: 0.714620053768158
_______ medicine: 0.6917582154273987
_______ art: 0.6915616989135742
L1
_______ nursing: 0.7483636736869812
_______ database: 0.7301633954048157
_______ advertising: 0.721589207649231
_______ optics: 0.7206970453262329
_______ genetics: 0.718353807926178


standard form
L0
_______ materials science: 0.8723439574241638
_______ computer science: 0.842231810092926
_______ engineering: 0.8411360383033752
L1
_______ systems engineering: 0.9328634738922119
_______ operations research: 0.902678906917572
_______ data science: 0.9002245664596558
_______ management science: 0.8909015655517578
_______ process engineering: 0.8902963399887085


health quality
L0
_______ business: 0.7246316075325012
_______ art: 0.7150484323501587
_______ medicine: 0.7115179896354675
L1
_______ risk analysis: 0.8056600093841553
_______ positive economics: 0.802742063999176
_______ control theory: 0.7715926766395569
_______ financial system: 0.7704889178276062
_______ advertising: 0.7667044997215271


banking industry
L0
_______ environmental science: 0.6331846117973328
_______ computer science: 0.632905125617981
_______ geology: 0.631591796875
L1
_______ cartography: 0.6397873163223267
_______ physical therapy: 0.6361060738563538
_______ mathematics education: 0.6342270970344543
_______ library science: 0.6321600079536438
_______ veterinary medicine: 0.6312695741653442


defense industry
L0
_______ physics: 0.7108001112937927
_______ business: 0.7085255980491638
_______ medicine: 0.7052229046821594
L1
_______ composite material: 0.8042705655097961
_______ embedded system: 0.7856162190437317
_______ arithmetic: 0.7738737463951111
_______ ceramic materials: 0.7572135329246521
_______ financial system: 0.7377112507820129


paired samples
L0
_______ environmental science: 0.6620852947235107
_______ physics: 0.6592833399772644
_______ geography: 0.6509329676628113
L1
_______ computer hardware: 0.7547920942306519
_______ computer network: 0.7523387670516968
_______ computer vision: 0.6999832987785339
_______ acoustics: 0.6945784091949463
_______ engineering drawing: 0.6925951838493347


mineral particles
L0
_______ biology: 0.7060143351554871
_______ economics: 0.6945138573646545
_______ mathematics: 0.6903629899024963
L1
_______ risk analysis: 0.8366288542747498
_______ control theory: 0.7942923903465271
_______ reliability engineering: 0.7922413349151611
_______ data mining: 0.7816425561904907
_______ demographic economics: 0.7640135288238525


body awareness
L0
_______ environmental science: 0.4441109299659729
_______ materials science: 0.4389429986476898
_______ chemistry: 0.43580442667007446
L1
_______ stereochemistry: 0.653546929359436
_______ photochemistry: 0.6483060121536255
_______ medicinal chemistry: 0.6205177903175354
_______ radiochemistry: 0.6155472993850708
_______ inorganic chemistry: 0.5971620678901672


limited evidence
L0
_______ geography: 0.652716875076294
_______ medicine: 0.6476706266403198
_______ physics: 0.6417330503463745
L1
_______ composite material: 0.7357966303825378
_______ embedded system: 0.7286646366119385
_______ arithmetic: 0.7150200009346008
_______ reliability engineering: 0.7115317583084106
_______ risk analysis: 0.710074782371521

### Word2Vec

In [114]:
from gensim.test.utils import common_texts
from gensim.models import Word2Vec

In [ ]:
model = Word2Vec(sentences=common_texts, vector_size=100, window=5, min_count=1, workers=4)
model.save("word2vec.model")

### Looking at Most Common Parents

#### Loading orphans

In [27]:
orphan_and_wiki.head()

   field_of_study_id               normalized_name  level
0         2908647359                    population      2
1         3017944768                poison control      2
2         2910001868                european union      2
3         3013748606  human immunodeficiency virus      2
4         3018023364        significant difference      2

In [33]:
orphan_and_wiki.groupby('normalized_name').count().sort_values('level', ascending=False).head()

                      field_of_study_id  level
normalized_name
3d printed                            1      1
3d simulation                         1      1
physical modelling                    1      1
physical development                  1      1
physical activity                     1      1

In [48]:
level_two_parents = pd.read_parquet("s3://mag-model-data/raw_mag_data/level_2_parents/part-00000-tid-4621729047142736932-7d217523-d826-48ff-b1c8-52d0808d0ce8-4655-1-c000.snappy.parquet")
level_three_parents = pd.read_parquet("s3://mag-model-data/raw_mag_data/level_3_parents/part-00000-tid-5973691913633613382-bc0cde1e-b2ec-4cc4-822d-2c96ed469532-33-1-c000.snappy.parquet")

In [105]:
level_two_parents[level_two_parents['level_two']=='octopus']

     level_two                                         topic_list
5028   octopus  [fishery, zoology, optometry, anatomy, ophthal...

In [39]:
# level_three_parents = pd.read_parquet("s3://mag-model-data/raw_mag_data/level_3_new_parents/part-00000-tid-7708135600281052475-bbc98008-7c3a-4e19-9d5b-71d02904d5dd-32-1-c000.snappy.parquet")

In [30]:
level_two_parents.shape

(158063, 2)

In [49]:
level_three_parents.sample(10)

,level_three,topic_list
295896,cybaeus vignai,"[genus, spider, taxonomy]"
298814,pichia siamensis,"[yeast, budding, fungi imperfecti, taxonomy]"
180190,lard factor,"[vitamin, cod liver oil, identification, mercury]"
26508,plasmacytoid dendritic cell activation,"[immune system, interferon, cytokine, receptor..."
198382,needle deflection,"[needle insertion, deflection, bevel, percutan..."
239493,temnohaswellia,"[crayfish, checklist, identification, genus, b..."
50625,metatheatre,"[drama, performance art, politics, comedy, tra..."
195711,chlorheridine diacetate,"[sperm, in vitro, antibacterial effect]"
188306,pyrofil light bond,"[composite number, irradiation, dentin, tube, ..."
19008,gonodonta nutrix,"[entomology, orange, insect, larva]"

In [50]:
level_three_parents.shape

(313261, 2)

In [62]:
level_2s = list(set([x for y in level_three_parents['topic_list'].tolist() for x in y]))

['human health']

In [73]:
all_cons = openalex_concepts['normalized_name'].tolist()

In [75]:
all_cons[:5]

['political science', 'philosophy', 'economics', 'business', 'psychology']

In [192]:
search_term = 'time preference'
print([x for x in level_2s if x.startswith(search_term)])
print([x for x in all_cons if str(x).startswith(search_term)])

['time preference']
['time preference']

In [193]:
level_two_parents[level_two_parents['level_two'].str.startswith(search_term)]

             level_two                                         topic_list
38966  time preference  [microeconomics, mathematical economics, keyne...

#### Creating spreadsheet

In [39]:
for_spread = level_two_parents.merge(orphan_and_wiki[orphan_and_wiki['level']==2][['normalized_name']].rename(columns={'normalized_name':'level_two'}), 
                        how='inner',on='level_two') \
.drop_duplicates(subset=['level_two']).reset_index(drop=True)

for_spread.head(5)

         level_two                                         topic_list
0         big game  [fishery, ethnology, archaeology, forestry, ad...
1   bone structure  [biomedical engineering, orthodontics, dentist...
2  cannabis sativa  [traditional medicine, biotechnology, botany, ...
3      career path  [management, aeronautics, medical education, p...
4      coast guard  [aeronautics, forensic engineering, oceanograp...

In [51]:
final_list = []
for j in range(for_spread.shape[0]):
    small_list = []
    small_list.append(for_spread.iloc[j,0])
    small_list.append('PASS')
    topics = for_spread.iloc[j,1].tolist()
    for i in range(10):
        try:
            small_list.append(topics[i])
        except:
            small_list.append("")
            
    final_list.append(small_list)
for_spread_2 = pd.DataFrame(final_list, columns = ['level_two', 'unknown','a','b','c','d','e','f','g','h','i','j'])

In [55]:
for_spread_2.to_csv("level_2_orphans_sheet.csv")

In [198]:
for_spread_2.shape

NameError: name 'for_spread_2' is not defined

In [51]:
for_spread = orphan_and_wiki[orphan_and_wiki['level']==3][['normalized_name']] \
.rename(columns={'normalized_name':'level_three'}).merge(level_three_parents, 
                                                         how='left',on='level_three') \
.drop_duplicates(subset=['level_three']).reset_index(drop=True)

for_spread.head(5)

         level_three                                         topic_list
0      energy source  [fossil fuel, renewable energy, coal, petroleu...
1  economic shortage  [china, work, government, population, quality,...
2       human health                                                NaN
3            algebra                                                NaN
4       constructive  [process, context, work, politics, order, qual...

In [52]:
null_L3_topics = for_spread[for_spread['topic_list'].isnull()].copy()

In [53]:
for_spread = for_spread[~for_spread['topic_list'].isnull()].copy()

In [54]:
final_list = []
for j in range(for_spread.shape[0]):
    small_list = []
    small_list.append(for_spread.iloc[j,0])
    small_list.append('PASS')
    try:
        topics = for_spread.iloc[j,1].tolist()
    except:
        topics = []
    for i in range(10):
        try:
            small_list.append(topics[i])
        except:
            small_list.append("")
            
    final_list.append(small_list)
for_spread_3 = pd.DataFrame(final_list, columns = ['level_three', 'unknown','a','b','c','d','e','f','g','h','i','j'])

In [55]:
for_spread_3.to_csv("level_3_orphans_sheet.csv")

In [56]:
for_spread_3.shape

(144, 12)

In [59]:
for_spread_3[for_spread_3['level_three']=='numerical models']

,level_three,unknown,a,b,c,d,e,f,g,h,i,j
17,numerical models,PASS,finite element method,computer simulation,numerical analysis,numerical modeling,mathematical model,flow,nonlinear system,process,field,work

In [245]:
for_spread_3

,level_three,Unnamed: 0,unknown,a,b,c,d,e,f,g,h,i,j
0,energy source,0,PASS,fossil fuel,renewable energy,coal,petroleum,natural gas,biomass,energy consumption,solar energy,combustion,electricity
1,economic shortage,1,PASS,china,work,government,population,quality,health care,order,workforce,production,agriculture
2,constructive,2,PASS,process,context,work,politics,order,quality,set,value,china,perspective
3,qualitative analysis,3,PASS,analyse qualitative,quantitative analysis,qualitative research,context,process,perception,work,population,quality,data collection
4,human being,4,PASS,context,meaning,value,order,subject,perspective,process,politics,humanity,natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,modiolus,139,PASS,cochlea,cochlear implant,inner ear,electrode,temporal bone,implant,hearing loss,guinea pig,cadaver,electrophysiology
140,chalazion,140,PASS,eyelid,lesion,curettage,biopsy,blepharitis,triamcinolone acetonide,conjunctiva,differential diagnosis,eye disease,carcinoma
141,phallus,141,PASS,genus,hemiptera,morphology,heteroptera,key,male genitalia,china,appendage,dorsum,lepidoptera genitalia
142,b tree,142,PASS,tree,search engine indexing,data structure,index,node,structure,hash function,set,flash memory,key
143,bulla,143,PASS,pneumothorax,lung,thoracoscopy,cardiothoracic surgery,thoracotomy,biopsy,radiography,lesion,computed tomography,lung cancer

### Pulling the data back from the spreadsheet to get the parents

In [252]:
for_spread_2 = pd.read_csv("level_2_orphans_sheet.csv")
for_spread_2.shape

(1500, 12)

In [253]:
level_2_comp = pd.read_csv("level_2_orphans_sheet_complete.csv")
level_2_comp.shape

(1489, 13)

In [254]:
for_spread_3 = pd.read_csv("level_3_orphans_sheet.csv").drop("Unnamed: 0", axis=1)
for_spread_3.shape

(144, 12)

In [255]:
level_3_comp = pd.read_csv("level_3_orphans_L2_sheet_complete.csv")
level_3_comp.shape

(175, 14)

In [256]:
level_2_comp = level_2_comp.merge(for_spread_2[['level_two']], how='inner', on=['level_two']).copy()

In [257]:
for_spread_2 = level_2_comp[['level_two']].merge(for_spread_2, how='inner', on=['level_two']).copy()

In [258]:
level_3_comp = level_3_comp.merge(for_spread_3[['level_three']], how='inner', on=['level_three']).copy()

In [259]:
for_spread_3 = level_3_comp[['level_three']].merge(for_spread_3, how='inner', on=['level_three']).copy()

In [260]:
all_L2_parents = []
L2_orphan = []
for i in range(level_2_comp.shape[0]):
    true_mask = np.array(level_2_comp.iloc[i,2:-1]) == 'x'
    parent_ops = np.array(for_spread_2.iloc[i,2:])
    final_parents = []
    
    final_parents = parent_ops[true_mask].tolist()
    
    if pd.notnull(level_2_comp.iloc[i,-1]):
        final_parents += [str(level_2_comp.iloc[i,-1])]
    
    if len(final_parents)==0:
        print(str(level_2_comp.iloc[i,0]))
    all_L2_parents.append(final_parents)
    L2_orphan.append(str(level_2_comp.iloc[i,0]))

In [263]:
L3_orphan = []
all_L3_parents = []
switch_to_L2 = []
for i in range(level_3_comp.shape[0]):
    if str(level_3_comp.iloc[i,-2]) == 'L1':
        print(f"Switch - {str(level_3_comp.iloc[i,0])}")
        switch_to_L2.append(str(level_3_comp.iloc[i,0]))
    else:
        final_parents = []
        true_mask = np.array(level_3_comp.iloc[i,2:-2]) == 'x'
        parent_ops = np.array(for_spread_3.iloc[i,2:])

        final_parents = parent_ops[true_mask].tolist()

        if pd.notnull(level_3_comp.iloc[i,-1]):
            final_parents += [str(level_3_comp.iloc[i,-1])]

        if len(final_parents)==0:
            print(str(level_3_comp.iloc[i,0]))
        all_L3_parents.append(final_parents)
        L3_orphan.append(str(level_3_comp.iloc[i,0]))

In [264]:
final_L2_parents = pd.DataFrame(zip(L2_orphan, all_L2_parents), columns=['normalized_name','parents'])

In [265]:
final_L3_parents = pd.DataFrame(zip(L3_orphan, all_L3_parents), columns=['normalized_name','parents'])

In [266]:
final_L2_parents

      normalized_name                                            parents
0            big game  [fishery, environmental ethics, environmental ...
1      bone structure      [biomedical engineering, anatomy, physiology]
2     cannabis sativa                             [botany, horticulture]
3         career path  [management, business administration, engineer...
4         coast guard     [marine engineering, environmental protection]
...               ...                                                ...
1484      summer camp              [ethnology, developmental psychology]
1485  tobacco product                             [environmental health]
1486     visual media                          [visual arts, multimedia]
1487    federal state           [public administration, economic policy]
1488      work abroad          [demographic economics, labour economics]

[1489 rows x 2 columns]

In [267]:
final_L3_parents

          normalized_name                                            parents
0           energy source  [fossil fuel, renewable energy, coal, petroleu...
1       economic shortage                                 [work, government]
2            constructive                                          [process]
3    qualitative analysis                             [qualitative research]
4             human being                                         [humanity]
..                    ...                                                ...
139              modiolus                                          [cochlea]
140             chalazion                                           [eyelid]
141               phallus                                   [male genitalia]
142                b tree     [tree, search engine indexing, data structure]
143                 bulla                               [pneumothorax, lung]

[144 rows x 2 columns]

### Check against vocab to make sure parents exist

In [270]:
concepts_check = openalex_concepts['normalized_name'].tolist()

In [273]:
for i in range(final_L2_parents.shape[0]):
    new_list = [x for x in final_L2_parents.iloc[i,1]]
    if len(new_list) == 0:
        print(final_L2_parents.iloc[i,0])
        print(final_L2_parents.iloc[i,1])
        print("\n")

In [274]:
for i in range(final_L3_parents.shape[0]):
    new_list = [x for x in final_L3_parents.iloc[i,1]]
    if len(new_list) == 0:
        print(final_L3_parents.iloc[i,0])
        print(final_L3_parents.iloc[i,1])
        print("\n")

### Get into proper format for Heather

In [284]:
final_L2_parents = final_L2_parents.explode('parents').copy()

In [285]:
final_L3_parents = final_L3_parents.explode('parents').copy()

In [279]:
field_of_study_ids = pd.read_parquet("fields_of_study_ids.parquet")
field_of_study_ids.head(1)

           normalized_name  field_of_study_id  level
0  u s standard atmosphere           16287357    3.0

In [281]:
names = field_of_study_ids['normalized_name'].tolist()
ids = field_of_study_ids['field_of_study_id'].tolist()

In [282]:
id_mapping = {name:name_id for name, name_id in zip(names, ids)}

In [286]:
final_L2_parents['normalized_name'] = final_L2_parents['normalized_name'].apply(lambda x: id_mapping[x])
final_L2_parents['parents'] = final_L2_parents['parents'].apply(lambda x: id_mapping[x])

In [287]:
final_L3_parents['normalized_name'] = final_L3_parents['normalized_name'].apply(lambda x: id_mapping[x])
final_L3_parents['parents'] = final_L3_parents['parents'].apply(lambda x: id_mapping[x])

In [288]:
final_L2_parents.columns = ['orphan_id','parent_id']
final_L3_parents.columns = ['orphan_id','parent_id']

In [289]:
all_orphans = pd.concat([final_L2_parents, final_L3_parents], axis=0)

In [290]:
all_orphans.shape

(3124, 2)

In [292]:
all_orphans.to_csv("orphan_parents.csv", index=False)